@import "bootstrap-icons/font/bootstrap-icons.css"; /* Importa los íconos de Bootstrap */

.custom-background {
  background-color: #f5f7fa; /* Fondo claro para darle un toque limpio */
}

ion-header {
  --background: linear-gradient(to right, #007aff, #00c6ff);
  color: #fff;
}

.segment-visita {
  margin-bottom: 20px;
  ion-segment-button {
    background-color: #fff;
    color: #007aff;
    border-radius: 20px;
    padding: 10px;
    margin: 0 5px;
    i {
      margin-right: 5px;
      color: #007aff;
    }
    &.segment-checked {
      background-color: #007aff;
      color: #fff;
    }
  }
}

.card-tipo-ingreso, .card-info {
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  ion-card-header {
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
    i {
      color: #007aff;
      margin-right: 5px;
    }
  }
  ion-card-title {
    display: flex;
    align-items: center;
  }
}

ion-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

ion-button.boton-guardar {
  margin-top: 20px;
  background-color: #007aff;
  border-radius: 25px;
  --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  --background: linear-gradient(to right, #007aff, #00c6ff);
  i {
    margin-right: 8px;
  }
}

ion-input, ion-select {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 10px;
}

.header-section {
  text-align: center;
  padding: 10px 0;
}

ion-card {
  padding: 15px;
}

  